{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員資料</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>






</head>

<body>
    {% include "header.html" %}
    <div id="main">
        <div class="sticky-header" style="display: flex; align-items: center;width: 98%;">
            <h2>會員資料</h2>
            <button type="button" id="addbutton" class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal" style="margin-right: 10px;margin-left: 20px;">
                <img id="icon" src="{% static 'icon/add.png' %}"
                    style="vertical-align: middle;width:18px;height: 18px;">
                <span style="vertical-align: middle;">新增人員</span>
            </button>
            <button id="deletebutton" class="btn btn-danger" style="margin-right: 10px;">
                <img id="icon" src="{% static 'icon/delete-2.png' %}" style="vertical-align: middle;">
                <span style="vertical-align: middle;">刪除選取資料</span>
            </button>
            <div class="d-flex ms-auto">
                <input type="text" id="nameSearch" class="form-control" placeholder="搜尋姓名"
                    style="margin-right: 10px; width: 200px;">
                <select id="identitySearch" class="form-select" style="margin-right: 10px; width: 200px;">
                    <option value="">選擇身分</option>
                    <option value="本校學生">本校學生</option>
                    <option value="外校學生">外校學生</option>
                    <option value="行政人員">行政人員</option>
                    <option value="臨時人員">臨時人員</option>
                </select>
                <input type="text" id="phoneSearch" class="form-control" placeholder="搜尋聯絡方式"
                    style="margin-right: 10px; width: 200px;">
                <button id="searchbutton" class="btn btn-secondary">
                    <img id="icon" src="{% static 'icon/search.png' %}" style="vertical-align: middle;">
                    <span style="vertical-align: middle;">搜尋</span>
                </button>
            </div>
        </div>














        <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">刪除人員</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        確定要刪除所選項目嗎?
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" id="confirmDeletebutton">確定</button>


                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="nochooseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        請至少選擇一個項目進行刪除!
                    </div>

                </div>
            </div>
        </div>




        <!-- The Modal -->
        <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">新增資料</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="addForm">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="name">姓名:</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                                <div id="nameError" class="text-danger"></div> <!-- 顯示姓名錯誤訊息 -->
                            </div>
                            <div class="form-group">
                                <label for="identity">身分:</label>
                                <select class="form-select" id="identity" name="identity" required>
                                    <option value="">選擇身分</option>
                                    <option value="本校學生">本校學生</option>
                                    <option value="外校學生">外校學生</option>
                                    <option value="行政人員">行政人員</option>
                                    <option value="臨時人員">臨時人員</option>
                                    <!-- Add more options as needed -->
                                </select>
                                <div id="identityError" class="text-danger"></div> <!-- 顯示身分錯誤訊息 -->
                            </div>
                            <div class="form-group">
                                <label for="phone">聯絡方式:</label>
                                <input type="text" class="form-control" id="phone" name="phone" required>
                                範例:09xxxxxxxx(手機)或04-xxxxxxxx(市話)
                                <div id="phoneError" class="text-danger"></div> <!-- 顯示聯絡方式錯誤訊息 -->
                            </div>

                            <div class="form-group">
                                <label for="email">電子郵件:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                                <div id="emailError" class="text-danger"></div> <!-- 顯示電子郵件錯誤訊息 -->
                            </div>
                            <div class="form-group">
                                <label for="photo">相片上傳:</label>
                                <input type="file" class="form-control" id="photo" name="photo"
                                    accept=".jpg, .jpeg, .png, .gif">
                                <img id="previewPhoto" src="#" alt="Preview"
                                    style="display: none; max-width: 100px; margin-top: 10px;">
                                <div id="photoError" class="text-danger"></div> <!-- 顯示相片錯誤訊息 -->
                                <div id="photoface-error" class="text-danger"></div>
                            
                            </div>

                        </div>
                        <div class="modal-footer">

                            <button id="savebutton" type="submit" class="btn btn-success">
                                <img id="icon" src="{% static 'icon/save.png' %}" style="vertical-align: middle;">
                                <span style="vertical-align: middle;">儲存</span>
                            </button>


                        </div>
                    </form>

                </div>
            </div>
        </div>




        <div class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="sticky"><input type="checkbox" onclick="toggleAll(this)"></th>
                        <th class="sticky">ID</th>
                        <th class="sticky" style="width: 90px;">相片</th>
                        <th class="sticky" style="width: 130px;">姓名</th>
                        <th class="sticky">身分</th>
                        <th class="sticky" style="width: 200px;">聯絡方式</th>
                        <th class="sticky" style="width: 300px;">電子郵件</th>
                        <th class="sticky">建立時間</th>
                        <th class="sticky">修改時間</th>
                        <th class="sticky">操作</th>

                    </tr>
                </thead>
                <tbody>



                </tbody>

            </table>
            <div id="noDataMessage" style="display: none; text-align: center; margin-top: 20px;">
                查無資料!
            </div>
        </div>


        <div class="sticky-footer" style="text-align: right;width: 98%;">
            <div id="pagination" style="display: inline-block;margin-right: 10px;"></div>
            <span style="display: inline-block;">每頁顯示資料筆數:</span>
            <select id="itemsPerPage" class="form-select" style="width: 80px; display: inline-block;">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
            <div style="display: inline-block; margin-left: 10px;">共<span id="totalDataCount"></span>筆資料</div>

        </div>























        <div class="modal fade" id="editmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">修改資料</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="editForm">
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="name">姓名:</label>
                                <input type="text" class="form-control" id="editName" name="name" required>
                                <div id="editNameError" class="text-danger"></div> <!-- 顯示姓名錯誤訊息 -->
                            </div>
                            <div class="form-group">
                                <label for="identity">身分:</label>
                                <select class="form-select" id="editIdentity" name="identity" required>
                                    <option value="">選擇身分</option>
                                    <option value="本校學生">本校學生</option>
                                    <option value="外校學生">外校學生</option>
                                    <option value="行政人員">行政人員</option>
                                    <option value="臨時人員">臨時人員</option>
                                    <!-- Add more options as needed -->
                                </select>
                                <div id="identityError" class="text-danger"></div> <!-- 顯示身分錯誤訊息 -->
                            </div>
                            <div class="form-group">
                                <label for="phone">聯絡方式:</label>
                                <input type="text" class="form-control" id="editPhone" name="phone" required>
                                範例:09xxxxxxxx(手機)或04-xxxxxxxx(市話)
                                <div id="editPhoneError" class="text-danger"></div> <!-- 顯示聯絡方式錯誤訊息 -->
                            </div>

                            <div class="form-group">
                                <label for="email">電子郵件:</label>
                                <input type="email" class="form-control" id="editEmail" name="email" required>
                                <div id="editEmailError" class="text-danger"></div> <!-- 顯示電子郵件錯誤訊息 -->
                            </div>
                            <div class="form-group">
                                <label for="photo">相片上傳:</label>
                                <input type="file" class="form-control" id="editPhoto" name="photo"
                                    accept=".jpg, .jpeg, .png, .gif">
                                <img id="editPhotoPreview" src="#" alt="Preview"
                                    style="display: none; max-width: 100px; margin-top: 10px;">
                                <div id="editPhotoPreviewError" class="text-danger"></div>
                                <div id="editphotoface-error" class="text-danger"></div> <!-- 顯示相片錯誤訊息 -->
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button id="editsavebutton" type="submit" class="btn btn-success">
                                <img id="icon" src="{% static 'icon/save.png' %}" style="vertical-align: middle;">
                                <span style="vertical-align: middle;">儲存修改</span>
                            </button>
                        </div>
                    </form>




                </div>
            </div>
        </div>


    </div>

















</body>




</html>
<script>
    // 定义JavaScript变量传递URL和CSRF令牌
    var addDataUrl = "{% url 'add_data' %}";
    var getDataUrl = "{% url 'get_data' %}";
    var deleteDataUrl = "{% url 'delete_data' %}";
    var editDataUrl = "{% url 'edit_data' %}";
    var checkDuplicateUrl = "{% url 'check_duplicate' %}";
    var searchUrl = "{% url 'search_view' %}";
    var eventRecordsUrl = "{% url 'get_event_records' %}";
    var opendoorurl = "{% url 'open_door' %}";
    var checkImageUrl = "{% url 'check_image' %}";

    var csrfToken = "{{ csrf_token }}";

    var doorImageUrl = "{% static 'icon/door.png' %}";
    var editImageUrl = "{% static 'icon/pen.png' %}";


</script>
<script src="{% static 'js/usermanager.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">