{% load static %}
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <title>開門介面</title>
    <script src="{% static 'js/opendoor_script.js' %}"></script>
    <style>
        .pressed {
            background-color: #567a8e !important;
        }
    </style>
</head>
<body style="margin: 0; display: flex; height: 100vh;">
    <div style="width: 70%; height: 100%; background-image: url('{{ image_url }}'); background-repeat: no-repeat; background-attachment: fixed; background-position: center; background-size: cover; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div class="card p-4" style="width: 80%; max-width: 500px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.295); background-color: rgba(255, 255, 255, 0.651);">
            <ul class="nav nav-tabs" id="myTab" role="tablist" style="border-bottom: 1px solid black;">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="form-tab" data-bs-toggle="tab" data-bs-target="#form" type="button" role="tab" aria-controls="form" aria-selected="true" style="border: 1px solid black; border-bottom: none;">表單</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="controls-tab" type="button" role="tab" aria-controls="controls" aria-selected="false" style="border: 1px solid black; border-bottom: none;">開關門</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                {% csrf_token %}
                <div class="tab-pane fade show active" id="form" role="tabpanel" aria-labelledby="form-tab">
                    <h2 class="text-center mt-4 mb-4">訪客表單</h2>
                    <form id="visitorForm">
                        <div class="mb-3">
                            <label for="visitorName" class="form-label">訪客名稱</label>
                            <input type="text" class="form-control" id="visitorName" name="name" autocomplete="name" required>
                            <div class="invalid-feedback" id="nameError">訪客名稱不能包含數字或特殊符號</div>
                        </div>
                        <div class="mb-3">
                            <label for="visitorPhone" class="form-label">訪客電話</label>
                            <input type="text" class="form-control" id="visitorPhone" name="phone" autocomplete="phone" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">提交</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="controls" role="tabpanel" aria-labelledby="controls-tab">
                    <h2 class="text-center mt-4 mb-4">管理者ID: <span id="managerId"></span></h2>
                    <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; width: 100%; height: 100%;">
                        <div style="width: 50%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 10%;">
                            <div id="expandButton" style="width: 95px; height: 95px; background-color: transparent; border: 2px solid black; border-radius: 25%; display: flex; cursor: pointer; align-items: center; justify-content: center; box-shadow: 0 0 10px;">
                                <img src="{% static 'images/arrows-expand-vertical.svg' %}" alt="opendoor" style="width: 75%; height: 75%; border-radius: 50%;">
                            </div>
                            <p style="margin-top: 10px;">開門</p>
                        </div>
                        <div style="width: 50%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; margin-top: 10%;">
                            <div id="collapseButton" style="width: 95px; height: 95px; background-color: transparent; border: 2px solid black; border-radius: 25%; display: flex; cursor: pointer; align-items: center; justify-content: center; box-shadow: 0 0 10px;">
                                <img src="{% static 'images/arrows-collapse-vertical.svg' %}" alt="closedoor" style="width: 75%; height: 75%; border-radius: 50%;">
                            </div>
                            <p style="margin-top: 10px;">關門</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="alertModalLabel">提示</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="alertModalBody">
                    未填寫訪客資料，是否繼續？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" id="indexConfirm">確認</button>
                </div>
            </div>
        </div>
    </div>
    




    <a href="{{ home_url }}"  style="text-decoration: none;">
        <div style="position: absolute; top: 10px; left: 10px; width: 50px; height: 50px; background-color: #ffffff; border: 1px solid #999; display: flex; align-items: center; justify-content: center; cursor: pointer;">
            <img src="{% static '/images/house.svg' %}" alt="house" style="width: 75%; height: 75%;">
        </div>
    </a>
    <div style="background-color: #ffffff; flex: 0 0 30%; border: 2px solid rgba(0, 0, 128, 0.336); position: relative;">
        <div style="width: 100%; height: 10%; background-color: #97a5c0; box-shadow: 0 0 10px; position: absolute; top: 0; left: 0; display: flex; align-items: center; justify-content: center;">
            <p style="font-weight: bold; font-size: 30px; margin: 0; color: #ffffff;">通知</p>
        </div>
        <div id="notificationArea" style="width: 100%; height: 90%; overflow-y: auto; padding: 10px; margin-top: 70px; overflow-y: auto;">
        </div>
    </div>
</body>
</html>

